name: Code Analyze

on:
  pull_request:
    branches: [ "master" ]

jobs:
  code_analyse:
    runs-on: ubuntu-latest

    steps:
      - name: Clone repository
        uses: actions/checkout@v4

      - name: Set up Flutter
        uses: subosito/flutter-action@v2.21.0
        with:
          channel: stable
          flutter-version: ${{ vars.FLUTTER_VERSION }}

      - name: Install dependencies
        run: flutter pub get

      - name: Analyze
        run: make analyse