name: CodeAnalyze

on:
  pull_request:
    branches: [ "feat/actions" ]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - uses: subosito/flutter-action@v2.14.0

      - name: Install dependencies
        run: flutter pub get

      - name: Analyze code
        run: flutter analyze